<ul class="idea-list card">
    <div class="card-body">
        <% @ideas.each do |idea| %>
            <h5 class="card card-title m-2" >
                <%= link_to(idea.title, idea_path(idea.id)) %>
            </h5>
            <p class="card-text text-dark">
                <%= idea.description %>
            </p>
            <small class="card-text text-dark" >Created <%= time_ago_in_words(idea.created_at) %> ago </small>
        <% end %>
    </div>
</ul>