<div class="card">
    <div class="card-body">
        <h3 class="card-title" >
            <%= @idea.title %>
        </h3>
        <p class="card-text text-dark">
            <%= @idea.description %>
        </p>
    </div>
</div>